.career {
  width: 100vw;
  height: 100vh;
  padding-bottom: 10%;
}
h3 {
  font-size: 2rem;
  text-align: justify;
  background: linear-gradient(transparent 70%, #ff99ab 80%);
  margin: 0%;
  position: absolute;
  left: 20px;
  top: 180px;
}
.school {
  font-size: 1.5rem;
  text-align: justify;
  position: absolute;
  left: 20px;
  top: 240px;
}
h4 {
  font-size: 2rem;
  text-align: justify;
  background: linear-gradient(transparent 70%, #ff99ab 80%);
  margin: 0%;
  position: absolute;
  left: 20px;
  top: 510px;
}
.work {
  font-size: 1.5rem;
  text-align: justify;
  position: absolute;
  left: 20px;
  top: 570px;
  padding: 10px 20px 10px 0;
}
h5 {
  font-size: 2rem;
  text-align: justify;
  background: linear-gradient(transparent 70%, #ff99ab 80%);
  margin: 0%;
  position: absolute;
  left: 20px;
  top: 790px;
}
.license {
  font-size: 1.5rem;
  text-align: justify;
  position: absolute;
  left: 20px;
  top: 850px;
}
@media (max-width: 600px) {
  .school,
  .work,
  .license {
    font-size: 1rem;
    text-align: justify;
  }
  h3,
  h4,
  h5 {
    font-size: 1.5rem;
  }
  h3 {
    position: absolute;
    top: 170px;
    left: 8px;
  }
  .work {
    position: absolute;
    top: 490px;
    left: 8px;
  }
  .license {
    position: absolute;
    top: 700px;
    left: 8px;
  }
  h4 {
    position: absolute;
    top: 440px;
    left: 8px;
  }
  h5 {
    position: absolute;
    top: 660px;
    left: 8px;
  }
  .school {
    top: 220px;
    left: 8px;
  }
  .career {
    width: 100%;
  }
}
